function PixelList.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push pointer 0
return
function PixelList.dispose 0
push argument 0
pop pointer 0
push this 0
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Node.dispose 1
pop temp 0
label IF_FALSE0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PixelList.push 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
pop this 0
push argument 1
pop this 1
goto IF_END0
label IF_FALSE0
push this 1
push argument 1
call Node.setNext 2
pop temp 0
push argument 1
pop this 1
label IF_END0
push constant 0
return
function PixelList.shift 1
push argument 0
pop pointer 0
push this 0
pop local 0
push local 0
call Node.next 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 0
push constant 0
pop this 1
goto IF_END0
label IF_FALSE0
push local 0
call Node.next 1
pop this 0
label IF_END0
push local 0
push constant 0
call Node.setNext 2
pop temp 0
push local 0
call Node.dispose 1
pop temp 0
push constant 0
return
function PixelList.first 0
push argument 0
pop pointer 0
push this 0
return
function PixelList.last 0
push argument 0
pop pointer 0
push this 1
return
